amqp
appnope
asgiref
async-timeout
ipdb
pytest-django
backcall
billiard
cached-property
celery
click
click-didyoumean
click-plugins
click-repl
decorator
Django
django-redis
djangorestframework
importlib-metadata
ipython
ipython-genutils
jedi
kombu
mysqlclient
numpy
packaging
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
redis
six
sqlparse
tomli
traitlets
typing_extensions
vine
wcwidth
zipp
